<div class="todo-list-container">
    <div class="action-container">
        <input
            type="text"
            placeholder="Add Your New Task" />
        <!-- <button (click)="addTask()">Add Task</button> -->
        <button>Add Task</button>
    </div>
    <div class="list-container">
        <ul> <li>List content</li>
            <!-- <li *ngFor="let task of tasks; let i = index">
                <span [class.completed]="task.completed">{{ task.title }}</span>
                <button (click)="toggleTask(i)">{{ task.completed ? 'Undo' :
                    'Complete' }}</button>
                <button (click)="deleteTask(i)">Delete</button>
            </li> -->

        </ul>
    </div>
</div>