.action-container {
    width: 100%;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

#task-input {
    border: none;
    outline: none;
    color: white;
    letter-spacing: 1px;
    font-size: medium;
    background-color: #b3a1804a;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

#task-input:focus {
    border: 1px solid #fdc5a2;
    box-shadow: 0 0 5px 2px rgba(173, 173, 173, 0.1);
    background-color: #d0a3508a;
}

#taskdone {
    cursor: pointer;
    border: none;
    vertical-align: middle;
}

#taskdone:hover {
    background-color: #e0bd7b;
}

button {
    margin: 0 5px;
    font-weight: 600;
    background-color: #d0a350;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e0bd7b;
}

.list-container {
    background-color: #d9c59dc5;
    margin: 20px 0;
    border-radius: 8px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.empty-list-text {
    font-size: 18px;
    font-weight: bold;
    color: #232323;
    text-align: center;
    padding: 20px;
    border: 1px dashed #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}