<div>
  <h1>API Calling Example</h1>

  <div class="response">
    <button (click)="getComments()">
      <span>Show Comments</span>
      <span class="icon">🔗</span>
    </button>
    <h2>Response Data</h2>
    <!-- <pre>{{ comments | json }}</pre> -->
    <table>
      <tr>
        <th> Id</th>
        <th> Body</th>
        <th> Post ID</th>
        <th> Likes</th>
      </tr>
      <tr *ngFor="let comment of comments">
        <td>{{ comment.id }}</td>
        <td>{{ comment.body }}</td>
        <td>{{ comment.postId }}</td>
        <td>{{ comment.likes }}</td>
      </tr>
    </table>
  </div>
</div>